@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                display: inline-block;
            }

            .full-height {
                height: 90vh;
                background-image: url("../img/fondos/fo.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-color: rgba(255, 255, 255, 0.3);
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;                
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
                background-color:rgb(10,0,0);
                opacity:0.7;
                filter:alpha(opacity=20);
            }

            .top-right a:hover{
                font-size: 1em;
                color: white; 
                text-transform: uppercase;
                letter-spacing: .1rem;               
            }

            .content {
                width: 40%;
                text-align: center;
                border: 2px solid rgb(10,0,0);
                background-color:rgb(10,0,0);
                opacity:0.8;
                filter:alpha(opacity=20);
                background-attachment: fixed;
            }

            .title {
                font-size: 84px;
                color: white;
                padding-right: 1%;

            }

            .content .title img:hover{
                -webkit-filter: contrast(150%);
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
              
            }

            .links a:hover{
                color: white;
                font-size: 1em;
                text-transform: uppercase;
                letter-spacing: .1rem;
            }

            .m-b-md {
                margin-bottom: 30px;
            }



#myHeader {
    width: 100%;
    color: white;
    display: inline-block;
    background: rgb(72, 44, 191);
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);

}

header .titulo{
    width: 20%;
    margin-left: 3%;
    display: inline-block;
    font-family:  sans-serif;
    font-style: italic;
    height: 52px;
    padding: 0;
    position: fixed;
    background-color: #00667D;
    z-index: 1;
}
#myHeader a {
    color: #FCFFFC;
}
#myHeader a {
    background-color: transparent;
}

#myHeader .item:after{
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: #00E0E0;
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px);        
}

#myHeader .item:hover:after{
    opacity:1;
    transform: translateY(15px)
}
#myHeader .tagA {
    color: rgba(0, 0, 0, 0.3);
}
#myHeader .tagA:hover {
    color: rgba(0, 0, 0, 0.7);
}
#myHeader img {
    width: 35px;
    border-radius: 50%;
    margin-top: -5px;
}

    
.editando_perfil {
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  font-size:24px;
  text-align:center;
  color:#16a085;
  margin:40px 0 120px 0;
}

.contenedor{
    width: 100%;
    background: #cccccc;
}

.home{
    width: 100%;
    display: block;
}

.izquierda{
    width: 100%;
    display: inline-block;
}

.izquierda h2 {
  animation-duration: 12s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    margin-left: 70%;
    width: 30%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



.derecha{
    width: 47%;
    display: inline-block;
}

.estadisticas{
    width: 100%;
    border-top: solid 1px #3666ff;
    margin-top: 1%;


}

.estadisticas h2{
    width: 17%;
    margin-left: 73%;
    text-align: center;
    padding: 1%;
    color: white;
    border: 2px solid rgb(10,0,0);
    background-color:rgb(10,0,0);
    opacity:0.9;
    filter:alpha(opacity=60);
    border-radius: 70px 0px 70px 0px;
    -moz-border-radius: 70px 0px 70px 0px;
    -webkit-border-radius: 70px 0px 70px 0px;

}

.estadisticas h2:hover{
    font-family: 'Raleway', sans-serif;
    box-shadow: inset 0 0 0 3px white;
    background:rgb(10,0,0);
}

.d1{
    width: 30%;
    display: inline-block;
    margin-left: 9%;
    
}

.d1 img{
    width: 100%;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.5);
}



.i1{
    width: 45%;
    margin-left: 5%;
    display: inline-block;
    vertical-align: top;
}

.i1 p{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    border: 2px solid rgb(2,0,0);
    background-color:rgb(2,0,0);
    opacity:0.8;
    color: white;
    filter:alpha(opacity=80);
    padding: 1%;
}



.i1, .d1 h5{
    color: black;
}

.sus{
    border-bottom: 2px solid red;
    color: black;
}

.graficas{
    width: 100%;
    border-top: solid 1px #3666ff;
    margin-top: 1%;
}

.graficas h2{
    width: 22%;
    margin-left: 10%;
    text-align: center;
    padding: 1%;
    color: white;
    border: 2px solid rgb(10,0,0);
    background-color:rgb(10,0,0);
    opacity:0.9;
    filter:alpha(opacity=60);
    border-radius: 70px 0px 70px 0px;
    -moz-border-radius: 70px 0px 70px 0px;
    -webkit-border-radius: 70px 0px 70px 0px;
}

.graficas h2:hover{
    font-family: 'Raleway', sans-serif;
    box-shadow: inset 0 0 0 3px white;
    background:rgb(10,0,0);
}

.d2{
    width: 45%;
    margin-left: 9%;
    display: inline-block;
    vertical-align: top;
}

.d2 p{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    border: 2px solid rgb(2,0,0);
    background-color:rgb(2,0,0);
    opacity:0.8;
    color: white;
    filter:alpha(opacity=80);
    padding: 1%;
}


.i2{
    width: 30%;
    display: inline-block;
    margin-left: 5%;
    
}

.i2 img{
    width: 100%;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.5);
}

.i2, .d2 h5{
    color: black;
}

hr{
    width: 90%;
    color: #794bc4;
    size: "40";
    margin: auto;
}

/*Parte de edicion admin*/
#cont_p{
    width: 100%;
}

#cont_p h1{
    margin-bottom: 3%;
}

.formG{
    width: 100%;
    text-align: center;
    margin-left: 30%;
}

.formG .formC label{
    text-align: left;
}

.formG .formC input:hover{
    text-align: left;
}

.formG .formC button{
    margin-left: 20%;
}
/*Fin parte de edicion*/

/*Parte de Admin*/
main{
 
}

.admintitulo{
    width: 100%;
    margin-bottom: 4%;
}

.admintitulo h2{
    margin-right: 3%;
}

.admintitulo a{
    margin-left: 59%;
}

.templatesCreate h2{
    color: gold;
    text-shadow: #000405;
}


.templates{
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
}

.templates:hover .templates-text{
    transform: translateY(0%);
}

.templates-text{
    width: 92%;
    position: absolute;
    bottom: 0;
    padding: 35% 2% 35% 2%;
    background: rgb(0,0,0,0.8);
    transform: translateY(100%);
    transition: all 1.5s ease-out;
}

.templates-text h2{
    width: 90%;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border: 1px solid white;
    border-radius: 3%;
    text-align: center;
    display: block;
    margin-top: 8%;
    margin-left: 5%;
}

.templates-text spam{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.1em;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin-top: 5%;
}

.templates-text a{
    margin-left: 25%;
    margin-top: 5%;
}

/*Fin parte de Admin*/

/*Parte de Categoria e Item*/
#cont_categoria{
    width: 100%;
}

#cont_categoria .iz{
    border:2px solid #ccc;
    border-radius: 1%;
    padding: 1%;
    margin-bottom: 2%;
}

#cont_categoria .iz:hover{
    box-shadow:
    1px 1px #53a7ea,
    2px 2px #53a7ea,
    3px 3px #53a7ea;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

#cont_categoria .iz h2{
    text-align: center;
    font-family: sans-serif;
}

.new, .new_items{
    display: none;
    margin-top: 1%;
}

.mostrar{
    display: inline;
}


#cont_categoria  .der{
    border:2px solid #ccc;
    border-radius: 1%;
    padding: 1%;
    margin-bottom: 2%; 
    width: 50%;
}

#cont_categoria .der:hover{
    box-shadow:
    1px 1px #53a7ea,
    2px 2px #53a7ea,
    3px 3px #53a7ea;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

#cont_categoria .der h2{
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}

#cont_categoria .Item .datoder{
    margin-left: 25%;
}

#cont_categoria .Item .datoder label{
    margin-right: 10%;
}

#cont_categoria .der .botones{
    text-align: center;
    margin-top: 1%;
}

#cont_categoria .der form #items_nuevos{
    width: 90%;
    display: inline;
}

#cont_categoria .der form #items_nuevos div{
    width: 65%;
    display: inline-block;
    margin-left: 5%;
}

#cont_categoria .der form #items_nuevos div label{
    margin-right: 2%;
}

#cont_categoria .der form #items_nuevos section{
    width: 24%;
    display: inline-block;
    margin-left: 5%;
}

#cont_categoria .der form .cont_boton{
    width: 100%;
    text-align: center;
}
/*Fin parte de Catgeoria e Item*/

/*Parte de Modal*/
.contenedor-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.contenedor-modal button {
  position: relative;
  top: 40%;
}

.formModal{
    width: 100%;
    margin-left: 18%;
}

.formModal input{
    width: 100%;
    text-align: center;
    margin-left: 15%;
}

.formModal button{
    width: 100%;
    
}
/*Fin parte de modal*/

/*Parte de infografiaFinish*/
#cont_finish{
    width: 100%;
}

#cont_finish #idinfografia{
    display: none;
}

#cont_finish .finish_info .fechas{
    display: inline;
    margin-left: 30%;
}

#cont_finish .finish_info .fechas .for{
    display: inline-block;
    margin-bottom: 2%;
}

#cont_finish .finish_info .fotos{
    display: inline;
    margin-left: 16%;
}

#cont_finish .finish_info .fotos .fo{
    display: inline-block;
    text-align: center;
    margin: 2%;
}

#cont_finish .finish_info .fotos .fo div:hover{
    transform: scale(1.4);
}

#cont_finish .form-group{
    margin-left: 30%;
}
/*Fin parte de infografiaFinish*/

/* Parte del mapa */
#map{
    width:100%;
    height:350px;
    margin-bottom: 2%;
}
/* Fin parte del mapa */

/*Parte de todo el contenido de la edición de infografía*/
#cont_plan1{
    margin-bottom: 2%;
    border-bottom: 1px solid gray;
}

.seccion_botones{
    background: rgb(202, 197, 197);    
    padding: 0% 0% 2% 0%;
    text-align: center;
    border: 1px solid gray;
}
/*Fin parte de todo el contenido de la edición de infografía*/

/*Parte de los datos de la infografia*/
.data_infografia1{
    background: rgb(202, 197, 197);
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding-top: 2%;
}

.data_infografia1 .figura1{
    width: 65%;
    margin-left: 2%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    height: 40px;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 10% / 0 100%;
    background: #F1C40F;
    border: 1px solid white;
    color: black;
}

.data_infografia1 .figura1 .itemT{
    font-size: 1.2em;
    margin-left: 1.5em;
}

.data_infografia1 .figura1 .itemT span{
    font-size: 0.7em;
}

/*Fin parte de los datos de la infografia*/

/*Parte de la plantilla1 de la infografia editandola*/
.plantilla1{
	width: 100%;
    text-align: center;
    background: rgb(226, 220, 220);
    border-right: 1px solid gray;
    padding: 2% 2% 2% 2%;
}

.plantilla1 #color-aside{
	background: #3365BB;
	text-align: center;
    margin: 0 0 1% 0;
    color: black;
}

.plantilla1 #color-aside h2{
    width: 100%;
    background: red;
}

.plantilla1 #color-aside h3{
	color: #3365BB;
	text-align: center;
}


.plantilla1 #color-article{
	background: #FDFEFE;
	text-align: justify;
}

.plantilla1 #color-item2{
	text-align: center;
	background: #F1C40F;
}
.plantilla1 #color-aside2{
	background:#3365BB;
	text-align: center;	
	margin: 0 0 1% 0;
}
.plantilla1 #color-aside2 h3{
	text-align: center;
	color: #F1C40F;	
}

.plantilla1 #color-aside3{
	background: #5DADE2;
	text-align: center;
	margin: 0 0 2% 0;	
}
.plantilla1 #color-aside3 h3{
	text-align: center;
	color:#5DADE2;
}

/*Fin parte de todo el contenido de la plantilla1 de la infografia editandola*/


/* Parte de los datos de la infografia del mapa */
.figura{
    width: 70%;
    height: 250px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background: #3365BB;
    color: black;
    margin-top: 5%;
    margin-left: 10%;
}

.figura .itemT{
    font-size: 1.5em;
    margin: 6% 0% 0% 10%;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 15% / 0 100%;
    background: #F1C40F;
    border: 2px solid white;    
}

.figura .itemT span{
    font-size: 0.7em;
    padding-left: 5%;
}



.itemI{
border-radius: 5px;
background-color: #eee;
border: 0;
}
/* Fin de los datos de la infografia del mapa */

.label{
	border: 5px solid #F1C40F;
	color: black;	
}

/* Parte del canvas */

#general{
	width: 100%;
}


/* Fin parte del canvas */

/*Parte de la plantilla1 de la infografia editandola*/


#col{
    width: 32%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    padding-left: 1%;
}

#col img{
    display: block;
    margin-bottom: 2%;
}

.social ul {
    list-style: none;
    display: inline-block; 
}

.social ul li a {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
}