.plantilla1{
	width: 100%;
	border-left: 2px solid red;
	text-align: center;
	padding-left: 4%;
}

.plantilla1 #color-aside{
	background: #3365BB;
	text-align: center;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 15px 6px -6px #777;
	margin: 0 0 4% 0;
}

.plantilla1 #color-aside h3{
	color: #3365BB;
	text-align: center;
}


.plantilla1 #color-article{
	background: #FDFEFE;
	text-align: justify;
}

.plantilla1 #color-item2{
	text-align: center;
	background: #F1C40F;
}
.plantilla1 #color-aside2{
	background:#3365BB;
	text-align: center;	
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 15px 6px -6px #777; 
	margin: 0 0 4% 0;
}
.plantilla1 #color-aside2 h3{
	text-align: center;
	color: #F1C40F;
	
}
.plantilla1 #color-aside3 {
	background: #5DADE2;
	text-align: center;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 15px 6px -6px #777;
	margin: 0 0 4% 0;	
}
.plantilla1 #color-aside3 h3{
	text-align: center;
	color:#5DADE2;
}

/* Parte de los datos de la infografia del mapa */
.figura{
    width: 50%;
    height: 100px;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    background: #3365BB;
    border: 5px solid #F1C40F;
}
/* Fin de los datos de la infografia del mapa */

.label{
	border: 5px solid #F1C40F;
	color: black;	
}

/* Parte del canvas */

#general{
	width: 100%;
}


/* Fin parte del canvas */