@import "_variables.scss"

*
	margin: 0
	padding: 0

html,body
	width: 100%
	height: 100%

.encabezado
	width: 100%
	padding: 0
	position: fixed
	background-color: transparent
	z-index: 3
	a
		color: #fff !important
    
	#titlePag
		font-family: $fntLogo
		font-size: 2em

	.boton
		padding: 10px 35px !important
		border-radius: 30px
		background-color: transparent
		color: #ccc
		border: 1px solid #ccc
	.boton:hover
		border: 1px solid #fff

	#items_center
		list-style: none
		width: 100%
		text-align: center
		margin: 0
		flex-direction: row
		li
			display: inline-block
			border-bottom: 3px solid transparent
			a
				text-decoration: none
				padding: 10px 15px
				text-transform: uppercase
		li:hover
			border-bottom: 3px solid #00E0E0
	
	#logeado
		width: 10rem
		a
			float: right
		.dropdown-item
			color: #ccc !important
					

.encabezado-aux, .encabezado-nothome
	background: rgb(72, 44, 191)
	background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%)
	background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%)
	background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%)

.box_inicial
	overflow: hidden
	position: relative
	transition-property: opacity
	transition-duration: 0.5s
	transition-timing-function: ease-out
	transition-delay: initial
	margin: 0
	padding: 0
	


.panel_completo
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	box-sizing: border-box
	text-align: center
	overflow: hidden
	width: 100%
	height: 100vh
	max-height: 100%
	transform: translate3d(0,0,0)


.box_foto
	position: absolute
	height: 690px
	background-image: url("../img/fondos/bg.jpeg")
	transform: matrix(1,0,0,1,0,-12.8571)

.cont_foto
	width: 100%
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	box-sizing: border-box
	text-align: center
	overflow: hidden
	padding: 0
    


.box_opacidad
	width: 100%
	height: 100%
	position: absolute
	background-color: rgba(0, 0, 0, 0.3)


//etilos home
.cont_home
	width: 100%
	height: 100vh
	padding-top: 3em
	.cnt_title
		width: 100%
		margin: 2% 0
		overflow: hidden
		border-top: solid 1px #3366ff
		h2
			background-color: #3366ff
			padding: 15px
			color: #fff

#estadisticas
	h2
		float: left

#graficas
	h2
		float: right 
	

//login
.login-box
	width: 50%
	box-sizing: border-box
	margin: 15% auto 10%
	border-radius: 10px
	box-shadow: 0 0 0.3rem #ccc
	h3
		display: block
		padding: 10px
		border-bottom: 1px solid #ccc
	form
		width: 100%
		padding: 20px

	button
		border: none
		outline: none
		width: 80%
		border: 1px solid #1c8adb
		color: #1c8adb
		font-size: 18px
		padding: 5px
		border-radius: 20px
		background-color: transparent

	button:hover
		cursor: pointer
		background: #1c8adb
		color: #fff


//estilos generales
.centrar
	text-align: center

.box_aux
	width: 100%
	height: 5em

#cnt_admin
	width: 100%
	min-height: 35em


#cont_super_admin
	.nav-tabs
		text-align: center
		overflow: hidden
		box-shadow: 0 2px 6px -2px rgba(25,25,34,.16)
		li
			margin-bottom: -1px
			padding: 10px
			a
				color: #92929d
				font-size: 16px
				text-decoration: none
				padding: 10px
				border-bottom: 5px solid transparent

			a.active
				border-bottom: 5px solid #4f4eca
				color: #23232d
			a:hover
				border-bottom: 5px solid #c2c2d6
				color: #23232d
				
		#typeuser
			color: #000
			position: absolute
			right: 0
			padding-right: 1rem

			
	.tab-content
		padding-top: 1rem
		min-height: 35em
		.users_content
			width: 100%
			margin-bottom: 1%
			.btn_new_contain
				width: 100%
				span
					float: right

			ul
				list-style: none
				width: 60%
				margin: auto
				li
					padding: 10px
					display: block
					background-color: #e1e1e1
					margin-bottom: 1%
					color: #000
					a
						float: right
						margin: 0 1%
						color: #b3cccc
						margin-top: -1.5%
						font-size: 1.5rem
					
					.edit:hover
						color: #ff8533
					.drop:hover
						color: #ff3333


		

footer
	width: 100%
	background-color: #0d0d26
	color: #fff
	padding: 2em 0

	h4
		color: #3366ff
	figure
		width: 100%
		text-align: center

	ul
		list-style: none
		li
			.cnt_names
				width: 75%
				float: left
			.cnt_img
				width: 25%
				float: left
				figure
					width: 100%
					img
						width: 60px
						height: 60px
						border-radius: 50%
		#mrg_cnt_li
			margin-top: 2em

	#cnt_2_logos
		margin-top: 4em
	i
		color: #6699ff
	p:hover
		i
			color: #cc00ff

